*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  --bg: #242424;
  --btn-color: rgba(255, 255, 255, 0.87);
  /* background: light-dark(#fff, #242424); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --duration: 1.2s;
	--speed: 0.3s;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: var(--bg);
  color: var(--color);
  transition: background var(--speed) ease-out;
  /* padding: 100px 0 20px 0; */
}


body::before {
  --size: 45px;
  --line: color-mix(in hsl, canvasText, transparent 70%);
  content: '';
  height: 100vh;
  width: 100vw;
  color: var(--color);
  position: fixed;
  background: linear-gradient(
        90deg,
        var(--line) 1px,
        transparent 1px var(--size)
      )
      50% 50% / var(--size) var(--size),
    linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% /
      var(--size) var(--size);
  mask: linear-gradient(-20deg, transparent 50%, white);
  top: 0;
  transform-style: flat;
  pointer-events: none;
} 


[data-theme='light'] {
  color-scheme: light only;
  --bg: hsl(219, 30%, 88%);
  --color: #213547;
  --btn-color: rgba(255, 255, 255, 0.87);
}

[data-theme='dark'] {
  color-scheme: dark only;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: calc(1.5rem + 1.5vw) * 1.5;
  line-height: 1.1;
  margin-bottom: 1rem;
}

#app {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  overflow: auto;
  
  display: flex;
  flex-direction: column; 
  justify-content: center;
  .container {
    width: 100%;
    display: flex;
  flex-direction: column;
  }

}

.convert-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

textarea {
  border: 1px solid #646cff;
  border-radius: 8px;
  font-size: 1rem;
  font-family: inherit;
  outline: none;
  resize: none;
}

#svg-paste {
  padding: 1rem;
  width: 90%;
  height: 12rem;
  margin: 0 auto;
  resize: none;
  overflow: scroll;
}

.svg-preview-wrapper {
  width: 90%;
  display: grid;
  height: auto;
  grid-template-columns: 5fr 0fr;
  transition: grid-template-columns 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
  margin: 0 auto;
}


.svg-preview-wrapper[data-preview="true"] {
  grid-template-columns: 3fr 2fr;
}

.textarea-wrapper {
  position: relative;
  height: 100%;
  border-radius: 8px;

  #svg-copy {
    padding: 1rem;
    height: 100%;
    width: 100%;
    resize: none;
  }
}

.copy {
  position: absolute;
  top: 0;
  right: 0;
  padding: .3rem;
  background-color: #646cff;
  color: #fff;
  border-radius: 0 8px 0 8px;
  cursor: pointer;
}

.svg-preview{
  padding: 1rem;
  height: 100%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #646cff;
  margin-left: 1.2rem;
  background-color: transparent;
  /* min-height: 15rem; */
  height: fit-content;
  /* min-height: 15rem; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}


.read-the-docs {
  /* color: #888; */
  position: fixed;
  bottom: 1.5rem;
   left: 50%; 
  transform: translateX(-50%); 
  /* left: 30px; */

  svg {
    transform: translateY(0.4rem);
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

#convert {
  color: var(--btn-color);

}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: hsl(219, 30%, 88%);
  --color: #213547;
  --btn-color: rgba(255, 255, 255, 0.87);
  }
  a:hover {
    color: #747bff;
  }
}


.check {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  animation: none;
}

.copy[data-copied="true"] .check{
  animation: dash 0.5s linear ;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1;
  }
  to {
    stroke-dashoffset: 0;
  }
}


.theme-toggle-wrapper{
  position: absolute;
  top: 10px;
  right: 30px;
  height: 1.8rem;
  width: 90px;

}

.theme-toggle {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  
  .dark, .light {
    height: 100%;
    padding: 6px 10px;
  border: 1px solid #535bf2;
  border-radius: 24px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background: transparent;
    transition: all .3s ease-out;
    

    p {
      font-size: 13px;
    }
  }
}

.dark {
  top: 0;
}

.light {
  top: 100%;
}

.dark[data-toggled="false"] {
  top: -100%;
}

.light[data-toggled="true"] {
  top: 0;
}
